---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ExperienceSection from '../components/ExperienceSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import HelpSection from '../components/HelpSection.astro';
import EducationSection from '../components/EducationSection.astro';
import ContactSection from '../components/ContactSection.astro';
import Particles from '../components/Particles.vue';
import Animations from '../components/Animations.vue';
---

<Layout>
  <!-- Decorative blobs -->
  <div class="blob blob-1" aria-hidden="true"></div>
  <div class="blob blob-2" aria-hidden="true"></div>
  <div class="blob blob-3" aria-hidden="true"></div>

  <!-- Vue islands -->
  <Particles client:load />
  <Animations client:load />

  <!-- Static sections -->
  <Nav />
  <HeroSection />
  <AboutSection />
  <ExperienceSection />
  <SkillsSection />
  <HelpSection />
  <EducationSection />
  <ContactSection />
</Layout>
